<div class="menu">
    <div>
        <img width="200" height="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div style="width: 50%;border: 3px; margin: 0 auto; border-color:black; padding-bottom: 200px">
        <h3>Login to SpringSocial</h3>
        <input type="button" value="Google" class="btn btn-primary" style="width: 70%"><span><img src=""></span>
        <br><br>
        <input type="button" value="Facebook" class="btn btn-success" style="width: 70%"><span><img src=""></span>
        <br><br>
        <input type="button" value="Github" class="btn btn-info" style="width: 70%"><span><img src=""></span>
        <br><br>
        <div style="text-align: center; margin: 0 auto; width: 50%; background-color: #ddd">OR</div>

        <form class="form-signin">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign in with Email</h1>
            <label for="inputEmailAddress" class="sr-only">Email address</label>
            <input type="email" id="inputEmailAddress" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPasswordField" class="sr-only">Password</label>
            <input type="password" id="inputPasswordField" class="form-control" placeholder="Password" required="">
            <div class="checkbox mb-3">
                <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </form>
    </div>

</div>